<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Extra Thick Rectangular Navbar</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <style>
        
    </style>
</head>
<body>
    <a href="{% url 'wishlist' %}">wishlist</a>
    <a href="{% url 'subscriptions' %}">subscriptions</a>
    <a href="{% url 'friendly_loans' %}">friendly_loans</a>
    <a href="{% url 'bills' %}">bills</a>
    <a href="{% url 'wish_create' %}">wish_create</a>
{#    <a href="{% url 'wish_update' %}"></a>#}
{#    <a href="{% url 'wish_delete' %}"></a>#}
{#    <a href="{% url 'subscription_delete' %}"></a>#}
</body>
</html>